<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Blocitoff", home_index_path %></li>
      </ul>
      <div class="pull-right user-info">
        <% if current_user %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %> or
          <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
      </div>
      
      
      <p><%= flash[:notice] if flash[:notice] %></p>
      <%= yield %>

    </div>
  </body>
</html>
